<launch>

    <rosparam command="load" file="$(find stereo_dso_ros)/config/common.yaml" />
<!--    <node pkg="stereo_dso_ros" type="stereo_dso_ros" name="stereo_dso_ros" output="screen" args="mode=1 preset=0 nogui=0 calib=$(find stereo_dso_ros)/config/camera_zed2_radtan.txt cam0/image_raw:=/zed2/zed_node/left/image_rect_gray cam1/image_raw:=/zed2/zed_node/right/image_rect_gray" />-->
    <node pkg="stereo_dso_ros" type="stereo_dso_ros" name="stereo_dso_ros" output="screen" args="mode=1 preset=0 nogui=0 calib=$(find stereo_dso_ros)/config/camera_zed2_radtan.txt cam0/image_raw:=/zed2/zed_node/left/image_rect_color cam1/image_raw:=/zed2/zed_node/right/image_rect_color" />

<!--   <node pkg="rviz" type="rviz" name="rviz" args="-d $(find stereo_dso_ros)/rviz/zed2_config.rviz" />-->
</launch>